ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: stick;
  overflow: hidden;
  background-color: #FFF;
}

a {
  color: #000;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  display: block;
  padding: 8px;
  margin-top: 15px;
  position: sticky;
}

.logo a,
.main-nav a {
  padding: 15px 20px;
  text-transform: uppercase-lowercase;
  text-align: centre;
  display: flex;
}

.main-nav a {
  color: #000;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #000;
  float: centre;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  background-color: #FAFAFA;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 5;
  position: sticky;
}







