ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #000;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  display: flex;
  margin-top: 2px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase-loercase;
  text-align: center;
  display: flex;
  color: #DD6B20;
}

.main-nav a {
  color: #000;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #FAFAFA;
}
