#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

p {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
}

h2
h3
h4
h5
h6
 {
   color: #black;
   margin: 0 0 1rem 0;
   font-size: 1.5rem;
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  display: table;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #3b3b3b;
}

input {
  display: table;
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}

input:focus {
  outline: none;
  border-color: #0070f3;
}

button-small {
  display: table;
  width: 30%;
  padding: 0.9rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #DD6B20;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0060e9;
}

button-medium {
  display: table;
  width: 30%;
  padding: 0.9rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #fff;
  color: #DD6B20;
  cursor: pointer;
}

button:hover {
  background-color: #0060e9;
}

button {
  display: table;
  width: 30%;
  padding: 0.9rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0060e9;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preference {
 display: flex;
 justify-content: space-between;
 width: 60%;
 margin: 5rem;
}

.input [type='submit'],
 label {
   margin-top: 1rem;
}

.p
 label {
 font-size: 1.8rem;
}

.outputs {
 font-size: 1.8rem;
}

.controls {
 padding-top: 1rem;
 display: grid;
 grid-tamplate-raws: repeat(3,1fr);
 grid-template-colums: 1fr 2fr;
 gap: 7rem;
}

.input [type='reset'],
 input [type='submit'] {
 width: 5rem;
 justify-self: end;
}

.input [type='reset'] {
  grid-colum: 2;
  grid-row: 2;
}

.input [type='submit'] {
 grid-colum: 2;
 grid-row: 3;
}

.select-wrapper {
 position: relative;
}

.select-wrapper::after {
 content: "+";
 font-size: 1rem;
 top: 6px;
 right: 10px;
 position: absolute;
}

